@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div class="row">

    <div class="col-md-6">
        <p>
            Blow Out was created to give music directors, parents, and music students a way to rent and purchase affordable band and orchestra instruments from the convenience their home.
            Blow Out guarantees the quality of every instrument we rent and sell, and provides inexpensive repairs on every item.

            We guarantee the quality of all our instruments and always provide customers with clean, ready-to-play instruments.

            When you set up a verified account with Blow Out, we also provide FREE UPS shipping within one business day of your order.

            If you have any questions about our brands, rental agreements, or repair services, please call us at 801-555-1212 for immediate service or visit our contact page
        </p>
    </div>

    <div class=" =col-md-6">

        <img src="~/Content/Images/about.jpg" style="height:300px;" />
    </div>

</div>