
@{
    ViewBag.Title = "Rentals";
}

<h2>Rentals</h2>

<p>We sell instruments</p>

<div class="row" style ="height: 250px">
    <div class="col-sm-6">
        <p>Trumpet</p>
        <a href=""><img src="~/Content/Images/trumpet.jpg" class="img-responsive" /></a>
        
    </div>
    <div class="col-sm-6">
        <p>Trombone</p>
        <img src="~/Content/Images/trombone.jpg" class="img-responsive" />
        
    </div>
    
</div>

<div class="row" style="height: 250px">
    <div class="col-lg-6">
        <p>Tuba</p>
        <img src="~/Content/Images/tuba.jpg" class="img-responsive" />
    </div>
    <div class="col-sm-6">
        <p>Flute</p>
        <img src="~/Content/Images/flute.jpg" class="img-responsive" />
    </div>
</div>

<div class="row">
    
    <div class="col-sm-6">
        <p>Clarinet</p>
        <img src="~/Content/Images/clarinet.jpg" class="img-responsive"/>
        
    </div>
    <div class="col-sm-6">
        <p>Saxophone</p>
        <img src="~/Content/Images/sax.jpg" class="img-responsive"/>
        
    </div>
</div>

